
<section class = "cover kenburns-top ">

    <div class="container mt-5 p-5 shadow-drop-2-center ">
        <div class = " text-center">
            <h2 class = "tracking-in-expand">ABOUT OUR COMPANY</h2>
          <p class="lead m-5">
            Danshin Realty Group, Inc. a self-administered and self-managed real estate investment trust (REIT), is one of the largest owners, managers, and developers of first-class office properties in the United States, with significant presence in five markets: Boston, Los Angeles, New York, San Francisco and London.
            Selling a property is a full-time job. It can be an emotional decision, but at the end of the day, you will need to make practical and informed choices. Getting the best possible price, accomplishing the sale within a targeted time-frame and navigating the sale process without any stress: these objectives and expectations are common across all sellers.  <br> Danshin Realty Group, Inc. has successfully served the need of sellers looking to bag the best deal they can get. We make your property sale both financially (good profits) and emotionally rewarding for you.
             </p>
        </div>
        <div class="card mt-5" style="width: 18rem;"> 
            <h5 class= "h1 text-center mb-5">
              Looking to sell?</h5>  
           <a href="#" class="btn btn-dark"><i class="fas fa-envelope-square"></i></a>
           </div>
      </div>

    </section>
