<div class="jumbotron">
  <h1 class="display-4 home-title">Discover Your Perfect Home Today</h1>
  <hr class="my-4">

  <div class="ml-3 mt-4 ">

      <form class="form-inline my-1 my-lg-0 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Ciudad" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
  </div>
</div>
<hr class="my-1">

<!-- Call the action Cards -->
<div class="container">
    <h2 class = "tracking-in-expand">Latest Property</h2>
  <div class="row">
    <div class="col-sm" >
        <div class="card" style="width: 18rem;">
          <div class = 'container-img'>
              <img class="card-img-top" src="assets/img/1.jpg"alt="Card image cap">
            <i (click)= "selectTheFavorite()" class="far container-icon fa-heart"></i>
          </div>
            <a href="#" class="btn btn-light"><i class="fas fa-envelope-square"></i></a>
            <div class="card-body">
              <h5 class="card-text">140.000€,  2  <i class="fas fa-bed icon-home"></i>   2<i class="fas fa-bath icon-home"></i> 100m2</h5>  
              <p class="card-text">46419, Sueca (Valencia/València) </p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class = 'container-img'>
                <img class="card-img-top" src="assets/img/2.jpg"alt="Card image cap">
              <i  (click)= "selectTheFavorite()"class="far container-icon fa-heart"></i>
            </div>
            <a href="#" class="btn btn-light"><i class="fas fa-envelope-square"></i></a>
            <div class="card-body">
              <h5 class="card-text">250.000€,  2  <i class="fas fa-bed icon-home"></i>   2<i class="fas fa-bath icon-home"></i> 98m2</h5>
              <p class="card-text">08036, Barcelona (Barcelona/Barcelona) </p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class = 'container-img'>
                <img class="card-img-top" src="assets/img/3.jpg"alt="Card image cap">
              <i  (click)= "selectTheFavorite()"class="far container-icon fa-heart"></i>
            </div>
            <a href="#" class="btn btn-light"><i class="fas fa-envelope-square"></i></a>
            <div class="card-body">
              <h5 class="card-text">350.000€,  2  <i class="fas fa-bed "></i>   2<i class="fas fa-bath icon-home"></i> 105m2</h5>
              <p class="card-text">08036, Barcelona (Barcelona/Barcelona) </p>
            </div>
          </div>
    </div>
  </div>
</div>