<div class="jumbotron">
  <h1 class="display-4">Discover Your Perfect Home.</h1>
  <hr class="my-4">
  <h5>  With the most complete source of homes for sale & real estate near you.</h5>
  <div class="ml-3 mt-4">
      <form class="form-inline my-5 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</div>
<hr class="my-4">

<!-- Call the action Cards -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/img/1.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">No.1 Deansgate, Manchester, M3</h5>
          <p class="card-text"   >5 bed house for sale </p>
          <p class="card-text">£1,250,000 </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/img/2.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Worsley Road, Worsley, Manchester, M28</h5>
          <p class="card-text">2 bed house for sale</p>
          <p class="card-text">£725,000 </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/img/3.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Portside Close, Boothstown, Worsley, M28 </h5>
          <p class="card-text">3 bed house for sale</p>
          <p class="card-text">£525,000 </p>
        </div>
      </div>¯
    </div>
  </div>
</div>