<div class="jumbotron">
  <h1 class="display-4">Discover Your Perfect Home.</h1>
  <hr class="my-4">
  <h5>  With the most complete source of homes for sale & real estate near you.</h5>
  <div class="ml-3 mt-4">
      <form class="form-inline my-5 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</div>
<hr class="my-4">

