.jumbotron{
    background-color: #ffffff;
}
form{
 margin-top: 3%;
}
.home-title {
  
    margin: 20px 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(80, end); 
  }

  @keyframes type{ 
    from { width: 0; } 
  } 
.btn-outline-success{
    color: #cc1db9;
    background-color: #fff;
    border-color: #cc1db9;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #cc1db9;
    border-color: #cc1db9;
}

/* Call to Action */
.card{
    border: none;
    border-radius: 0rem;
    height: auto;
}
.card-text{
    font-size: 0.8em
}
.container-img{
    position: relative;
}
.container-icon {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size:2em;
}
  
.container-icon-heart {
    background-color: #DB3545;
    border-radius: 20%;      
}