<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="120" height="50" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['Home']" >Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['About']" >La Compañia</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['Houses']">Propiedades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"><i class="fab fa-facebook"></i></a>
            </li>
 
    </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['Houses']">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['Houses']">Login</a>
    </li>
  </ul>
  
  </div>
</nav>